[Unit]
Description=Tag deployer script written in Python3
After=syslog.target network-online.target remote-fs.target nss-lookup.target
[Service]
ExecStart=/usr/bin/python3 PATH_TO_DEPLOYER/deploy.py
User=DEPLOYER_USER
ExecStop=/bin/kill -s INT $MAINPID
PrivateTmp=true
Restart=on-failure
[Install]
WantedBy=multi-user.target
